@import '~bootstrap/scss/bootstrap';
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

#sign-up-link {
  background-color: inherit;
  border: none;
}

#sign-in-link {
  background-color: inherit;
  border: none;
}

#forgot-password-link {
  background-color: inherit;
  border: none;
}

#sign-out-button {
  background-color: inherit;
  border: none;
}

#change-password-nav-button {
  background-color: inherit;
  border: none;
}

#create-entry-nav-button {
  background-color: inherit;
  border: none;
}

#index-entry-nav-button {
  background-color: inherit;
  border: none;
}

.nav-logo {
  height: 50px;
  width: auto;
}

.search-img {
  background-color: white;
}

.btn-primary-1 {
  background-color: MediumSlateBlue;
  border: none;
  color: white;
}
